*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --max-width: 600px;


    --button-bg: rgb(52, 20, 194);
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header__container{
    margin: auto;
    max-width: var(--max-width);
}


.header{
    background-color: darkslategrey;
}
.header__list{
    display: flex;
    list-style-type: none;
}
.header__item{
    margin: .125rem;
    padding: .25rem;
    background-color: deepskyblue;
}


.main__container{
    /* display: flex; */
    margin: 0 auto;
    max-width: var(--max-width);
    flex-grow: 1;
    background-color: rgb(91, 161, 252);
}

.main{
    display: flex;
    flex-grow: 1;
    background-color: lightsteelblue;
}


.footer{
    height: 64px;
}





/* buttons */


.button-neon{
    font-family: 'Helvetica', 'Arial', sans-serif;
    
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    
    color: white;
    background-color: blueviolet;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    border: 0;
    border-radius: 4px;
    cursor: pointer;

    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.button-neon:focus {
    /* outline: 0; */
}
.button-neon:active{
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    transform: scale(0.9);
}
