/*
    font-family: "Fredoka One", cursive;
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root{
    --max-width: 600px;
}


.header{
    background-color: lightslategray;
}
.header__container{
    margin: auto;
    max-width: var(--max-width);
}

.header__list{
    display: flex;
    list-style-type: none;
}
.header__item{
    font-family: system-ui;
    font-size: 1.25rem;
    margin: .125rem;
    padding: .25rem;
    background-color: deepskyblue;
}

.main{
    display: flex;
    flex-grow: 1;
    /* background-color: rgb(238, 238, 238); */
}

.main__container{
    /* display: flex; */
    margin: 0 auto;
    max-width: var(--max-width);
    flex-grow: 1;
    padding: 1em;
    /* background-color: rgb(255, 255, 255); */
}

.footer{
    height: 64px;
    background-color: rgb(202, 202, 202);
}



.button__title{
    padding-bottom: .5em;
    padding-left: .5em;
}

.button__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

/* buttons */

/* button-1 */
.button-neon{
    display: block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    
    color: white;
    background-color: blueviolet;
    box-shadow: 0 2px 25px rgba(137, 43, 226, 0.548);

    border: 0;
    border-radius: .25em;
    cursor: pointer;

    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.button-neon:focus {
    /* outline: 0; */
}
.button-neon:hover{
    transform: scale(1.05);
}
.button-neon:active{
    box-shadow: 0 2px 25px rgba(137, 43, 226, 0.2);
    transform: scale(0.9);
}








.button-eversion {
    font-family: system-ui;
    font-size: 1rem;
    padding: 1em 2em;
    color: #000;
    background-color: white;
    border: 1px solid #979695;
    border-radius: .5em;

    box-shadow: 0.3em 0.3em 0 #dd6395;
    text-align: center;
    transition: all 0.35s;
}

.button-eversion:hover {
    box-shadow: -0.3em -0.3em 0 #979695;
    background-color: #dd6395;
    border-color: #dd6395;
    color: #fff;
}
